[*.{cs,vb}]

# IDE0049: Simplify Names
dotnet_diagnostic.IDE0049.severity = silent
[*.{cs,vb}]

# IDE0049: Simplify Names
dotnet_diagnostic.IDE0049.severity = none

# IDE0044: Add readonly modifier
dotnet_diagnostic.IDE0044.severity = suggestion
